{{#extends 'base'}}

{{#block 'content'}}
<h1>My shopping cart</h1>

<ul class="list-group">
    {{#each shoppingCart}}
    <li class="list-group-item">
        <h4>{{this.product.name}}</h3>
            <h5>Category: {{this.product.category.name}}</h5>
            <h5>Cost: {{this.product.cost}} </h5>
            <form method="POST" action="/cart/{{this.id}}/quantity/update">
                <input type="hidden" value="{{../csrfToken}}" name="_csrf"/> 
                <h5>
                    Quantity: <input type="text" name="newQuantity" value="{{this.quantity}}" style="width:30px" /> 
                    <input type="submit" value="Update Quantity" class="btn btn-success btn-sm" />
                </h5>
            </form>
            <div>
                <a href="/cart/{{this.product.id}}/remove" class="btn btn-danger">Remove</a>
            </div>

    </li>
    {{/each}}
</ul>


{{/block}}

{{/extends}}