{{#extends 'base'}}

{{#block 'content'}}
<form method="GET">
    <div>
        <label class="form-label">Name</label>
        <input class="form-control" type="text" name="name"/>
    </div>

    <div>
        <label class="form-label">Min. Cost</label>
        <input type="text" class="form-control" name="cost"/>
    </div>

       <div>
        <label class="form-label">Max. Cost</label>
        <input class="form-control" type="text" name="cost"/>
    </div>

    <div>
        <label class="form-label">Category:</label>
        <input class="form-control" type="text" name="category">
    </div>

    <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search"/>



</form>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Cost</th>
            <th>Description</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.category.name}}
            </td>

            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>

        </tr>

        {{/each}}
    </tbody>


</table>
{{/block}}

{{/extends}}